.post-summary {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.07);

  > .link {
    display: block;
    padding: 1.8rem 1.5rem;
    color: unset;
    text-decoration: none;

    .title {
      margin-top: unset;
      color: var(--primary);
      font-size: 1.7rem;
    }

    .description {
      margin-bottom: unset;
    }
  }

  & + .post-summary {
    margin-top: 3rem;
  }

  &:hover {
    > .link > .header > .title {
      text-decoration: underline;
    }
  }
}
