.author-bio {
  text-align: center;

  > .link {
    display: flex;
    flex-direction: column;
    align-items: center;;
    text-decoration: none;

    > .image {
      border-radius: 50%;
    }

    > .title {
      margin-top: 1.5rem;
      margin-bottom: unset;
      font-size: 1.45rem;
      line-height: 1.5;
      color: var(--text);
    }
  }

  > .summary {
    max-width: 408px;
    margin-top: 2.5rem;
    margin-bottom: 7rem;
    font-size: 1.1rem;
  }
}
