.blog-post {
  > .header {
    padding-bottom: 1.75rem;
    color: var(--text);

    > .title {
      margin-bottom: 0.5rem;
      margin-top: 0;
      font-weight: 800;
    }

    > .date {
      margin-bottom: 0;
      font-size: 0.87rem;
      line-height: 1.5rem;
    }
  }
}
