.app {
  @include below(l) {
    padding-top: $app-padding-top / 1.6;
    padding-bottom: $app-padding-top / 1.6;

    @include container;

    > .sidebar-menu {
      display: none;
    }

    .main-content {
      padding-top: 3rem;
    }
  }

  @include above(l) {
    > .app-header {
      display: none;
    }

    > .sidebar-menu {
      max-width: $sidebar-width;
      height: 100vh;
      padding-top: $app-padding-top;
      padding-bottom: $app-padding-bottom;
      position: fixed;
      top: 0;
      left: 0;
      border-right: 1px solid rgba($app-color, 0.15);
    }

    > .main-content {
      padding-top: $app-padding-top;
      padding-left: $sidebar-width;

      > .wrapper {
        @include container(2rem);
      }
    }
  }
}
