.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .link {
    display: flex;
    align-items: center;
    text-decoration: none;

    > .image {
      border-radius: 50%;
      margin-right: 0.8rem;
    }

    > .title {
      font-size: 1.25rem;
      font-weight: unset;
      margin: 0;
      color: var(--text);
    }

    > .icon {
      width: 20px;
      fill: var(--text);
    }
  }
}
